{
    "presets": [
        "es2015",
        "react"
    ],
    "plugins": [
        "transform-runtime",
        "add-module-exports",
        "transform-class-properties",
        "transform-object-rest-spread",
        "babel-plugin-root-import"
    ],
    "env": {
        "test": {
            "plugins": [
                "istanbul"
            ]
        }
    }
}
